spring:
    datasource:
        url: jdbc:postgresql://postgres:5432/${POSTGRES_DB}
        username: ${POSTGRES_USERNAME}
        password: ${POSTGRES_PASSWORD}
        driver-class-name: org.postgresql.Driver

    jpa:
        properties:
            hibernate:
                default_schema: ${POSTGRES_DEFAULT_SCHEMA}
